<app-header titulo="Grid"></app-header>

<ion-content padding fullscreen>
<ion-grid fixed>
  <!-- <ion-row>
    <ion-col *ngFor="let c of  [1,1,1,1,1,1,1,1,1,1,1,1]; let i = index">
                hola,item {{i+1}}
    </ion-col >
  </ion-row> -->



  <ion-row>
    <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12"
     *ngFor="let c of  [1,1,1,1,1,1,1,1,1,1,1,1]; let i = index">
      <ion-card>
        <ion-img src="/assets/shapes.svg"></ion-img>
        <ion-card-header>
          <ion-card-subtitle>card subtitle</ion-card-subtitle>
          <ion-card-title>card</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. In, doloremque facilis totam odit ratione ipsum eum, maxime a repudiandae necessitatibus architecto mollitia magnam nisi voluptas dolorem. Aliquam ducimus beatae saepe!
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>



</ion-content>
