<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-title>componentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item *ngFor="let c of componentes" [routerLink]="c.redirectTto" detail>

    <ion-icon slot="start" [name] ="c.icon"></ion-icon>


      <ion-label>{{c.nombre}}</ion-label>
    </ion-item>
  </ion-list>









  <!-- <ion-button routerLink ="/alert"> alert</ion-button>

      <ion-button routerLink ="/actrion-sheet"> action-sheet</ion-button> -->

</ion-content>
