<app-header titulo="Card"></app-header>




<ion-content padding [fullscreen]="true" >

  <ion-card mode="ios" color="primary">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>


  <ion-card >

    <ion-item color="primary">
      <ion-icon color="light" slot="start" name="pin" ></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>
<ion-card-content>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum incidunt dolorum eligendi repellat, animi officiis accusantium repudiandae sequi voluptate temporibus fuga illo iure error possimus placeat asperiores. Temporibus, maiores corporis.
</ion-card-content>
  </ion-card>
<ion-card>
  <ion-img src="/assets/shapes.svg">
  </ion-img>

  <ion-card-content>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam sint deleniti laborum fugiat repellendus libero dolor commodi voluptatem? Amet ipsa exercitationem architecto dolorem deleniti vitae nisi praesentium facere similique eveniet!
  </ion-card-content>
</ion-card>


</ion-content>
